.home {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 8% 92%;
    grid-template-areas:
        "sidebar header"
        "sidebar content";
}

app-header {
    grid-area: header;
}

app-sidebar {
    grid-area: sidebar;
}

.main-container {
    grid-area: content;
}

.closed-sidebar {
    grid-template-areas:
        "header header"
        "content content";
}