<div [class.closed-sidebar]="!headerService.showSidebar" class="home">
    <app-header></app-header>
    @if(headerService.showSidebar) {
    <app-sidebar></app-sidebar>
    }
    <div class="main-container">
        <router-outlet></router-outlet>
    </div>
    @if(router.url.endsWith('/product') || router.url.endsWith('/order') || router.url.endsWith('/customer')) {
    <div class="search-create-button-container">
        <input (input)="handleSearch()" [class.slide-in]="showSearchfield" type="text" name="search" id="search"
            [(ngModel)]="search" placeholder="Search...">
        <div class="button-container">
            <button (click)="toggleShowSearchfield()">
                <svg fill="white" width="40" height="40" viewBox="0 0 24 24" aria-hidden="true">
                    <path
                        d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                    </path>
                </svg>
            </button>
            <button (click)="navigateToAddNewComponent()">
                <svg fill="white" width="40" height="40" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
                </svg>
            </button>
        </div>
    </div>
    }
</div>