.header-container {
    height: 100%;
    background-color: #3f51b5;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2),
        0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container svg:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.header-container span {
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
}