.sign-in-social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container button {
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 4px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    cursor: pointer;
}

.button-container button:hover {
    border-color: grey;
}

.sign-up-container {
    font-size: 14px;
}

.sign-up-container span {
    color: #0F3DDE;
    cursor: pointer;
}

.sign-up-container span:hover {
    color: rgb(12, 41, 146, 0.5);
}