<div class="order-container">
    <h1>Bestellungen ({{homeService.filteredArray.length}})</h1>
    <form [formGroup]="orderForm" (ngSubmit)="updateOrder()">
        <table>
            <thead>
                <tr>
                    <th>Produkt</th>
                    <th>Menge</th>
                    <th>Gesamtpreis</th>
                    <th>Besteller</th>
                    <th>Bestelldatum</th>
                    <th>Aktionen</th>
                </tr>
            </thead>
            <tbody>
                @for (order of homeService.filteredArray; track $index) {
                <tr>
                    @if(order.is_edit) {
                    <td>
                        <input type="text" name="product" formControlName="product">
                    </td>
                    <td>
                        <input min="1" type="number" name="quantity" formControlName="quantity">
                        @if(orderForm.get('quantity')?.invalid && orderForm.get('quantity')?.touched) {
                        @if(orderForm.get('quantity')?.hasError('required')) {
                        <small>Menge ist erforderlich</small>
                        }
                        @if(orderForm.get('quantity')?.hasError('min')) {
                        <small>Menge muss mindestens 1 betragen</small>
                        }
                        }
                        @if(isStockLimit) {
                        <small>{{messageStockLimit}}</small>
                        }
                    </td>
                    <td>
                        <input type="number" name="amount" formControlName="amount">
                    </td>
                    <td>
                        <input type="text" name="customer" formControlName="customer">
                    </td>
                    <td>
                        <input type="date" name="order_date" formControlName="order_date">
                    </td>
                    } @else {
                    <td>{{order.product}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{replaceCommaWithDot(order.quantity, order.amount)}}</td>
                    <td>{{order.customer}}</td>
                    <td>{{order.order_date}}</td>
                    }
                    <td class="buttons">
                        @if(order.is_edit) {
                        <button [disabled]="orderForm.invalid">
                            <svg width="30" height="30" fill="white" viewBox="0 0 24 24" aria-hidden="true">
                                <path
                                    d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z">
                                </path>
                            </svg>
                        </button>
                        } @else {
                        <button (click)="setCurrentOrder(order)">
                            <svg width="30" height="30" fill="white" viewBox="0 0 24 24" aria-hidden="true">
                                <path
                                    d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34a.9959.9959 0 00-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z">
                                </path>
                            </svg>
                        </button>
                        }
                        <button type="button" (click)="deleteOrder(order.id)">
                            <svg width="30" height="30" fill="white" viewBox="0 0 24 24" aria-hidden="true">
                                <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z">
                                </path>
                            </svg>
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </form>
</div>