form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

label {
    font-size: 14px;
    font-weight: 600;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-container input {
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    padding: 10px;
    font-size: 10px;
    cursor: pointer;
}

.input-container input:hover {
    border-color: grey;
}

.input-container small {
    margin-top: 5px;
    font-size: 10px;
    color: red;
}

.center-gap {
    align-items: center;
    gap: 10px;
}

.input-container img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid black;
}

.input-container .checkbox-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.input-container .checkbox-container>span {
    font-size: 10px;
}

.input-container .checkbox-container>span>span {
    text-decoration: underline;
    cursor: pointer;
}

.input-container .checkbox-container>span>span:hover {
    color: grey;
}

button {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #3A5B22;
    border: unset;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(58, 91, 34, 0.8);
}

@media(min-width: 981px) and (max-height: 600px) {

    .input-container {
        margin-bottom: 10px;
    }
}