<form>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" formControlName="name" placeholder="Enter your name">
    <label for="email">Email address</label>
    <input type="email" name="email" id="email" formControlName="email" placeholder="Enter your email">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" formControlName="password" placeholder="Enter your password">
    <div class="checkbox-container">
        <input type="checkbox" name="checkbox" id="checkbox">
        <span>I agree to the <span>terms & policy</span></span>
    </div>
    <button>Sign Up</button>
</form>