<div class="about-container">
    <h1>App-Info</h1>
    <p>Diese App ist keine echte Anwendung, sondern ein Beispiel für ein CRM-Projekt. Sie wurde mit Django als Backend,
        Angular für das Frontend und PostgreSQL als Datenbank entwickelt. Die Hauptfunktion dieser App ist es, als Proof
        of
        Concept zu dienen und zu demonstrieren, wie ein CRM-System strukturiert und implementiert werden kann.

        Bitte beachten Sie, dass die App keine vollständige Funktionalität bietet und lediglich zu Demonstrationszwecken
        dient.
    </p>
</div>