<div class="add-new-order-container">
    <h1>Add New Order</h1>
    <hr>
    <form [formGroup]="orderForm" (ngSubmit)="createNewOrder()">
        <div class="input-container">
            <div class="label-input-container">
                <label for="product"><span>*</span>Product</label>
                <select id="product" formControlName="product">
                    <option value="" disabled selected>Select a product</option>
                    @for (product of homeService.products(); track $index) {
                    <option [value]="product.product">{{ product.product }}</option>
                    }
                </select>
                @if(orderForm.get('product')?.invalid && orderForm.get('product')?.touched) {
                @if(orderForm.get('product')?.hasError('required')) {
                <small>Please select a Product</small>
                }
                }
            </div>
            <div class="label-input-container">
                <label for="quantity"><span>*</span>Quantity</label>
                <input type="number" name="quantity" id="quantity" formControlName="quantity"
                    placeholder="Enter your Quantity">
                @if(orderForm.get('quantity')?.invalid && orderForm.get('quantity')?.touched) {
                @if(orderForm.get('quantity')?.hasError('required')) {
                <small>Quantity is required</small>
                }
                }
            </div>
        </div>
        <div class="input-container">
            <div class="label-input-container">
                <label for="customer"><span>*</span>Customer</label>
                <select id="customer" formControlName="customer">
                    <option value="" disabled selected>Select a Customer</option>
                    @for (customer of homeService.customers(); track $index) {
                    <option [value]="customer.first_name">{{ customer.first_name }}</option>
                    }
                </select>
                @if(orderForm.get('customer')?.invalid && orderForm.get('customer')?.touched) {
                @if(orderForm.get('customer')?.hasError('required')) {
                <small>Please select a Customer</small>
                }
                }
            </div>
        </div>
        <hr>
        <div class="buttons-container">
            <button type="button" (click)="router.navigate(['/home/order'])">
                <svg width="40" height="40" fill="white" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z"></path>
                </svg>
                <span>Back</span>
            </button>
            <button [ngClass]="{'save-button': orderForm.valid}" [disabled]="orderForm.invalid">
                <svg width="40" height="40" fill="white" viewBox="0 0 24 24" aria-hidden="true">
                    <path
                        d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z">
                    </path>
                </svg>
                <span>Save</span>
            </button>
        </div>
    </form>
</div>