.sidebar-container {
    height: 100%;
    background-color: #3f51b5;
    border-right: 1px solid black;
}

.header-container {
    height: 20%;
    background-image: url(../../../assets/images/home/sdiebar_header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header-container .left-container {
    display: flex;
    gap: 10px;
}

.profile-image-container {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5 rem;
    font-weight: 700;
    background-color: #3f51b5;
    color: white;
}

.header-container .left-container span {
    height: 65px;
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-shadow: 3px 3px 0px rgb(0, 0, 0, 0.5);
}

.header-container svg {
    margin: 15px 0;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid transparent;
}

.header-container svg:hover {
    transform: scale(1.1);
    fill: #3f51b5;
    border-color: #3f51b5;
}

.nav-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-container .nav-flex-container {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer;
}

.nav-container .nav-flex-container:hover {
    background-color: aliceblue;
}

.nav-container .nav-flex-container span {
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
}

.nav-container .nav-flex-container:hover span,
.nav-container .nav-flex-container:hover svg {
    transform: scale(1.1);
    color: black;
    fill: black;
}