<form [formGroup]="userForm" (ngSubmit)="signInAsUser()">
    <div class="input-container">
        <label for="username">Username</label>
        <input type="username" name="username" id="username" formControlName="username"
            placeholder="Enter your Username">
        @if(userForm.get('username')?.invalid && userForm.get('username')?.touched) {
        @if(userForm.get('username')?.hasError('required')) {
        <small>Username is required</small>
        }
        @if(userForm.get('username')?.hasError('username')) {
        <small>Please enter a valid Username</small>
        }
        }
    </div>
    <div class="input-container">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" formControlName="password"
            placeholder="Enter your password">
        @if(userForm.get('password')?.invalid && userForm.get('password')?.touched) {
        @if(userForm.get('password')?.hasError('required')) {
        <small>Password is required</small>
        }
        @if(userForm.get('password')?.hasError('minlength')) {
        <small>Password must be at least 8 characters long</small>
        }
        }
    </div>
    <button>Sign In</button>
</form>