<form [formGroup]="userForm" (ngSubmit)="signInAsUser()">
    <div class="input-container">
        <label for="email">Email address</label>
        <input type="email" name="email" id="email" formControlName="email" placeholder="Enter your email">
        @if(userForm.get('email')?.invalid && userForm.get('email')?.touched) {
        @if(userForm.get('email')?.hasError('required')) {
        <small>Email is required</small>
        }
        @if(userForm.get('email')?.hasError('email')) {
        <small>Please enter a valid email</small>
        }
        }
    </div>
    <div class="input-container">
        <div class="label-container">
            <label for="password">Password</label>
            <span class="forgot-password">forgot password</span>
        </div>
        <input type="password" name="password" id="password" formControlName="password"
            placeholder="Enter your password">
        @if(userForm.get('password')?.invalid && userForm.get('password')?.touched) {
        @if(userForm.get('password')?.hasError('required')) {
        <small>Password is required</small>
        }
        @if(userForm.get('password')?.hasError('minlength')) {
        <small>Password must be at least 8 characters long</small>
        }
        }
        @if (isLoginInvalid) {
        <small>Check your email and password. The credentials are incorrect.</small>
        }
    </div>
    <div class="checkbox-container">
        <input type="checkbox" name="checkbox" id="checkbox">
        <span>Remember Me</span>
    </div>
    <button>Sign In</button>
</form>