form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    font-weight: 600;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-container input {
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    padding: 10px;
    font-size: 10px;
    cursor: pointer;
}

.input-container input:hover {
    border-color: grey;
}

.input-container small {
    margin-top: 5px;
    font-size: 10px;
    color: red;
}

.label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot-password {
    font-size: 10px;
    color: #0C2A92;
    cursor: pointer;
}

.forgot-password:hover {
    color: rgb(12, 41, 146, 0.5);
}

.checkbox-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 25px;
}

.checkbox-container span {
    font-size: 10px;
}

button {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #3A5B22;
    border: unset;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(58, 91, 34, 0.8);
}