<div class="add-new-customer-container">
    <h1>Neuen Kunden hinzufügen</h1>
    <hr>
    <form [formGroup]="customerForm" (ngSubmit)="createNewCustomer()">
        <div class="input-container">
            <div class="label-input-container">
                <label for="first_name"><span>*</span>Vorname</label>
                <input type="text" name="first_name" id="first_name" formControlName="first_name"
                    placeholder="Geben Sie Ihren Vornamen ein">
                @if(customerForm.get('first_name')?.invalid && customerForm.get('first_name')?.touched) {
                @if(customerForm.get('first_name')?.hasError('required')) {
                <small>Vorname ist erforderlich</small>
                }
                }
            </div>
            <div class="label-input-container">
                <label for="last_name"><span>*</span>Nachname</label>
                <input type="text" name="last_name" id="last_name" formControlName="last_name"
                    placeholder="Geben Sie Ihren Nachnamen ein">
                @if(customerForm.get('last_name')?.invalid && customerForm.get('last_name')?.touched) {
                @if(customerForm.get('last_name')?.hasError('required')) {
                <small>Nachname ist erforderlich</small>
                }
                }
            </div>
        </div>
        <div class="input-container">
            <div class="label-input-container">
                <label for="email"><span>*</span>E-Mail</label>
                <input type="email" name="email" id="email" formControlName="email"
                    placeholder="Geben Sie Ihre E-Mail ein">
                @if(customerForm.get('email')?.invalid && customerForm.get('email')?.touched) {
                @if(customerForm.get('email')?.hasError('required')) {
                <small>E-Mail ist erforderlich</small>
                }
                @if(customerForm.get('email')?.hasError('email')) {
                <small>Bitte geben Sie eine gültige E-Mail-Adresse ein</small>
                }
                }
                @if(emailExist) {
                <small>Diese E-Mail existiert bereits</small>
                }
            </div>
            <div class="label-input-container">
                <label for="mobile"><span>*</span>Handynummer</label>
                <input type="tel" name="mobile" id="mobile" formControlName="mobile"
                    placeholder="Geben Sie Ihre Handynummer ein">
                @if(customerForm.get('mobile')?.invalid && customerForm.get('mobile')?.touched) {
                @if(customerForm.get('mobile')?.hasError('required')) {
                <small>Handynummber ist erforderlich</small>
                }
                @if(customerForm.get('mobile')?.hasError('pattern')) {
                <small>Bitte geben Sie eine gültige Handynummer ein (Nummern und '+' erlaubt)</small>
                }
                }
            </div>
        </div>
        <hr>
        <div class="buttons-container">
            <button type="button" (click)="router.navigate(['/home/customer'])">
                <svg width="40" height="40" fill="white" viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z"></path>
                </svg>
                <span>Zurück</span>
            </button>
            <button [ngClass]="{'save-button': customerForm.valid}" [disabled]="customerForm.invalid">
                <svg width="40" height="40" fill="white" viewBox="0 0 24 24" aria-hidden="true">
                    <path
                        d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm-5 16c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3zm3-10H5V5h10v4z">
                    </path>
                </svg>
                <span>Speichern</span>
            </button>
        </div>
    </form>
</div>