<div class="auth-container">
    <div class="left-container">
        <div class="left-box-container">
            <h1>{{getAuthTitle()}}</h1>
            @if(router.url.includes('sign-in')) {
            <p>Enter your Credentials to access your account</p>
            }
            <router-outlet></router-outlet>
        </div>
        <div class="sign-up-container">
            @if(router.url.includes('sign-in')) {
            Don't have an account? <span (click)="router.navigate(['auth/sign-up'])">Sign Up</span>
            } @else {
            Have an account? <span (click)="router.navigate(['auth/sign-in'])">Sign In</span>
            }
        </div>
    </div>
    <img src="../../assets/images/auth/auth.png" alt="picture of a plant">
</div>