<div class="dashboard-container">
    <div class="small-container">
        <div [ngStyle]="{'background-color': '#d81b60'}" class="svg-container">
            <svg width="50" height="50" fill="white" viewBox="0 0 24 24" aria-hidden="true">
                <path
                    d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z">
                </path>
            </svg>
        </div>
        <div class="content-container">
            <span>Gesamtpreis</span>
            <span [ngStyle]="{'color': '#d81b60'}">{{getSumOfAmount()}} €</span>
        </div>
    </div>
    <div class="small-container">
        <div [ngStyle]="{'background-color': '#8e24aa'}" class="svg-container">
            <svg width="50" height="50" fill="white" viewBox="0 0 24 24" aria-hidden="true">
                <path
                    d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM9 17H7v-7h2v7zm4 0h-2V7h2v10zm4 0h-2v-4h2v4z">
                </path>
            </svg>
        </div>
        <div class="content-container">
            <span>Gesamtmenge</span>
            <span [ngStyle]="{'color': '#8e24aa'}">{{getSumOfQuantity()}}</span>
        </div>
    </div>
    <div class="small-container">
        <div [ngStyle]="{'background-color': '#00acc1'}" class="svg-container">
            <svg width="50" height="50" fill="white" viewBox="0 0 24 24" aria-hidden="true">
                <path
                    d="M9 11.75c-.69 0-1.25.56-1.25 1.25s.56 1.25 1.25 1.25 1.25-.56 1.25-1.25-.56-1.25-1.25-1.25zm6 0c-.69 0-1.25.56-1.25 1.25s.56 1.25 1.25 1.25 1.25-.56 1.25-1.25-.56-1.25-1.25-1.25zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8 0-.29.02-.58.05-.86 2.36-1.05 4.23-2.98 5.21-5.37C11.07 8.33 14.05 10 17.42 10c.78 0 1.53-.09 2.25-.26.21.71.33 1.47.33 2.26 0 4.41-3.59 8-8 8z">
                </path>
            </svg>
        </div>
        <div class="content-container">
            <span>Bestellungen</span>
            <span [ngStyle]="{'color': '#00acc1'}">{{homeService.orders().length}}</span>
        </div>
    </div>
    <div class="big-container">
        <canvas id="myPieChart"></canvas>
    </div>
</div>